![logo_ironhack_blue 7](https://user-images.githubusercontent.com/23629340/40541063-a07a0a8a-601a-11e8-91b5-2f13e4e6b441.png)

# Lab | Handling Data Imbalance in Classification Models

For this lab and in the next lessons we will build a model on customer churn binary classification problem. You will be using `files_for_lab/Customer-Churn.csv` file.

### Scenario

You are working as an analyst with this internet service provider. You are provided with this historical data about your company's customers and their churn trends. Your task is to build a machine learning model that will help the company identify customers that are more likely to default/churn and thus prevent losses from such customers.

### Instructions

In this lab, we will first take a look at the degree of imbalance in the data and correct it using the techniques we learned on the class.

Here is the list of steps to be followed (building a simple model without balancing the data):

- Import the required libraries and modules that you would need.
- Read that data into Python and call the dataframe `churnData`.
- Check the datatypes of all the columns in the data. You would see that the column `TotalCharges` is object type. Convert this column into numeric type using `pd.to_numeric` function.
- Check for null values in the dataframe. Replace the null values.
- Use the following features: `tenure`, `SeniorCitizen`, `MonthlyCharges` and `TotalCharges`:
  - Scale the features either by using normalizer or a standard scaler.
  - Split the data into a training set and a test set.
  - Fit a logistic regression model on the training data.
  - Check the accuracy on the test data.

**Note**: So far we have not balanced the data.

Managing imbalance in the dataset

- Check for the imbalance.
- Use the resampling strategies used in class for upsampling and downsampling to create a balance between the two classes.
- Each time fit the model and see how the accuracy of the model is.

In [85]:
# Import the required libraries and modules that you would need
import pandas as pd
import numpy as np
import statsmodels.api as sm
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

In [86]:
# Read that data into Python and call the dataframe `churnData`
churn_data = pd.read_csv('Customer-Churn.csv')
churn_data.head()

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,MonthlyCharges,TotalCharges,Churn
0,Female,0,Yes,No,1,No,No,Yes,No,No,No,No,Month-to-month,29.85,29.85,No
1,Male,0,No,No,34,Yes,Yes,No,Yes,No,No,No,One year,56.95,1889.5,No
2,Male,0,No,No,2,Yes,Yes,Yes,No,No,No,No,Month-to-month,53.85,108.15,Yes
3,Male,0,No,No,45,No,Yes,No,Yes,Yes,No,No,One year,42.30,1840.75,No
4,Female,0,No,No,2,Yes,No,No,No,No,No,No,Month-to-month,70.70,151.65,Yes

In [87]:
churn_data.columns = churn_data.columns.str.replace(' ','_')
churn_data.columns= churn_data.columns.str.lower()

In [88]:
churn_data.dtypes

gender               object
seniorcitizen         int64
partner              object
dependents           object
tenure                int64
phoneservice         object
onlinesecurity       object
onlinebackup         object
deviceprotection     object
techsupport          object
streamingtv          object
streamingmovies      object
contract             object
monthlycharges      float64
totalcharges         object
churn                object
dtype: object

In [89]:
# Check the datatypes of all the columns in the data. 
# You would see that the column `TotalCharges` is object type. 
# Convert this column into numeric type using `pd.to_numeric` function.

In [90]:
churn_data.totalcharges.isnull().sum()

0

In [91]:
churn_data['totalcharges'] = churn_data['totalcharges'].replace(' ', '0')

In [92]:
churn_data['totalcharges'] = pd.to_numeric(churn_data.totalcharges, downcast="float")

In [93]:
churn_data.dtypes

gender               object
seniorcitizen         int64
partner              object
dependents           object
tenure                int64
phoneservice         object
onlinesecurity       object
onlinebackup         object
deviceprotection     object
techsupport          object
streamingtv          object
streamingmovies      object
contract             object
monthlycharges      float64
totalcharges        float32
churn                object
dtype: object

In [94]:
# Check for null values in the dataframe. 
# Replace the null values.
churn_data.isnull().values.any()

False

In [95]:
churn_data.isnull().sum().sum()

0

In [96]:
# Use the following features: `tenure`, `SeniorCitizen`, `MonthlyCharges` and `TotalCharges`:
#   - Scale the features either by using normalizer or a standard scaler.
#   - Split the data into a training set and a test set.
#   - Fit a logistic regression model on the training data.
#   - Check the accuracy on the test data.

In [97]:
features = churn_data[['tenure', 'seniorcitizen', 'monthlycharges', 'totalcharges']]
features

      tenure  seniorcitizen  monthlycharges  totalcharges
0          1              0           29.85     29.850000
1         34              0           56.95   1889.500000
2          2              0           53.85    108.150002
3         45              0           42.30   1840.750000
4          2              0           70.70    151.649994
...      ...            ...             ...           ...
7038      24              0           84.80   1990.500000
7039      72              0          103.20   7362.899902
7040      11              0           29.60    346.450012
7041       4              1           74.40    306.600006
7042      66              0          105.65   6844.500000

[7043 rows x 4 columns]

In [98]:
transformer = StandardScaler().fit(features)
features_stand = transformer.transform(features)

In [99]:
features_stand

array([[-1.27744458, -0.43991649, -1.16032292, -0.99261052],
       [ 0.06632742, -0.43991649, -0.25962894, -0.17216471],
       [-1.23672422, -0.43991649, -0.36266036, -0.9580659 ],
       ...,
       [-0.87024095, -0.43991649, -1.1686319 , -0.85293201],
       [-1.15528349,  2.27315869,  0.32033821, -0.87051315],
       [ 1.36937906, -0.43991649,  1.35896134,  2.01389665]])

In [100]:
# Split the data into a training set and a test set.

In [101]:
label = churn_data[['churn']]
label

     churn
0       No
1       No
2      Yes
3       No
4      Yes
...    ...
7038    No
7039    No
7040    No
7041   Yes
7042    No

[7043 rows x 1 columns]

In [102]:
X_train, X_test, y_train, y_test = train_test_split(features_stand, label, test_size=0.25, random_state=50)

In [103]:
classification = LogisticRegression(random_state=0, solver='lbfgs')
classification.fit(X_train, y_train)

c:\Users\User\AppData\Local\Programs\Python\Python38\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LogisticRegression(random_state=0)

In [104]:
print("test data accuracy was ",classification.score(X_test,y_test))
# 100% on training data
print("train data accuracy was ",classification.score(X_train,y_train))

test data accuracy was  0.78137421919364
train data accuracy was  0.7921241953805377

In [105]:
# Managing imbalance in the dataset

# - Check for the imbalance.
# - Use the resampling strategies used in class for upsampling and downsampling to create a balance between the two classes.
# - Each time fit the model and see how the accuracy of the model is.

In [106]:
label.value_counts()

churn
No       5174
Yes      1869
dtype: int64

In [107]:
churn_data2 = pd.concat([features, label], axis=1)
churn_data2

      tenure  seniorcitizen  monthlycharges  totalcharges churn
0          1              0           29.85     29.850000    No
1         34              0           56.95   1889.500000    No
2          2              0           53.85    108.150002   Yes
3         45              0           42.30   1840.750000    No
4          2              0           70.70    151.649994   Yes
...      ...            ...             ...           ...   ...
7038      24              0           84.80   1990.500000    No
7039      72              0          103.20   7362.899902    No
7040      11              0           29.60    346.450012    No
7041       4              1           74.40    306.600006   Yes
7042      66              0          105.65   6844.500000    No

[7043 rows x 5 columns]

In [108]:
from sklearn.utils import resample

category_0 = churn_data2[churn_data2['churn'] == 'No']
category_1 = churn_data2[churn_data2['churn'] == 'Yes']

In [109]:
# Downsampling

category_0_undersampled = resample(category_0, 
                                   replace=False, 
                                   n_samples = len(category_1))

In [110]:
print(category_0_undersampled.shape)
print(category_1.shape)

(1869, 5)
(1869, 5)

In [111]:
churn_data_downsampled = pd.concat([category_0_undersampled, category_1], axis=0)

In [112]:
churn_data_downsampled['churn'].value_counts()

No     1869
Yes    1869
Name: churn, dtype: int64

In [113]:
y = churn_data_downsampled[['churn']]
X = churn_data_downsampled.drop(['churn'], axis=1)

In [114]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=50)

In [115]:
classification = LogisticRegression(random_state=0, solver='lbfgs')
classification.fit(X_train, y_train)

c:\Users\User\AppData\Local\Programs\Python\Python38\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LogisticRegression(random_state=0)

In [116]:
print("test data accuracy was ",classification.score(X_test,y_test))
# 100% on training data
print("train data accuracy was ",classification.score(X_train,y_train))

test data accuracy was  0.7390374331550802
train data accuracy was  0.7342133428469497

In [117]:
# Upsampling

category_1_oversampled = resample(category_1, 
                                  replace=True, 
                                  n_samples = len(category_0))

In [118]:
print(category_0.shape)
print(category_1_oversampled.shape)

(5174, 5)
(5174, 5)

In [119]:
churn_data_upsampled = pd.concat([category_0, category_1_oversampled], axis=0)

In [120]:
churn_data_upsampled['churn'].value_counts()

No     5174
Yes    5174
Name: churn, dtype: int64

In [121]:
y = churn_data_upsampled[['churn']]
X = churn_data_upsampled.drop(['churn'], axis=1)

In [122]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=50)

In [123]:
classification = LogisticRegression(random_state=0, solver='lbfgs')
classification.fit(X_train, y_train)

c:\Users\User\AppData\Local\Programs\Python\Python38\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LogisticRegression(random_state=0)

In [124]:
print("test data accuracy was ",classification.score(X_test,y_test))
# 100% on training data
print("train data accuracy was ",classification.score(X_train,y_train))

test data accuracy was  0.7228449942017782
train data accuracy was  0.7381780698363613